[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "cli/volk"]
	path = cli/volk
	url = https://github.com/zeux/volk
[submodule "cli/SPIRV-Cross"]
	path = cli/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "cli/SPIRV-Tools"]
	path = cli/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "cli/SPIRV-Headers"]
	path = cli/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "cli/dirent"]
	path = cli/dirent
	url = https://github.com/tronkko/dirent
